@import "vars";
* {
	@include colorSchema;
}
img {
	max-width: 100%;
}
.mobile {
	display: none !important;
	@include media-down(sm) {
		display: block !important;
	}
}
.tablet {
	display: none !important;
	@include media-down(md) {
		display: block !important;
	}
	@include media-down(sm) {
		display: none !important;
	}
	&-mob {
		display: none !important;
		@include media-down(md) {
			display: block !important;
		}
		@include media-down(sm) {
			display: block !important;
		}
	}
}
.desktop {
	display: block !important;
	@include media-down(sm) {
		display: none !important;
	}
	&-tab {
		display: block;
		@include media-down(md) {
			display: none !important;
		}
		@include media-down(sm) {
			display: none !important;
		}
	}
}

.gradient {
	@include gradient;
}
.columns {
	@include columns;
}

.center {
	text-align: center;
	&-mobile {
		@include media-down(md) {
			text-align: center;
		}
	}
}
.uppercase {
	text-transform: uppercase;
}
.pad-top {
	padding-top: 1em;
	&-2 {
		padding-top: 2em;
	}
	&-3 {
		padding-top: 3em;
	}
	&-4 {
		padding-top: 4em;
	}
}
.pad-bot {
	padding-bottom: 1em;
	&-2 {
		padding-bottom: 2em;
	}
	&-3 {
		padding-bottom: 3em;
	}
}
.menu-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: $purple;
	fill: $purple;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1.5;
	margin: 1px auto 2px;
	padding: 1em;
	text-shadow: none;
	width: 60px;
	height: 60px;
	box-shadow: none;
	&.fixed {
		position: fixed;
		box-shadow: 0px 2px 5px rgba(79, 117, 139, .5);
		right: 5px;
	}
}

/* Display the menu toggle when JavaScript is available. */


.main-navigation.toggled-on ul.nav-menu {
	display: block;
}


.menu-toggle:focus {
	outline: thin solid;
}

.menu-toggle .icon {
	margin-right: 0;
	top: -2px;
	width: 30px;
	height: 30px;
}

.toggled-on.menu-toggle .icon-bars,
.menu-toggle .icon-close {
	display: none;
}

.toggled-on.menu-toggle .icon-close {
	display: inline-block;
}
.menu {
	padding: 0;
	list-style: none;
	margin: 0;
}
.button {
	cursor: pointer;
	position: relative;
	color: $pink;
	background-color: $white;
	padding: 9px 25px 7px;
	border-radius: 0 0 25px 0;
	text-decoration: none;
	line-height: dynamic-sizing(18, 16);
	transition: background-color .33s, color .33s;
	box-shadow: 0px 2px 5px rgba(79, 117, 139, .5);
	text-transform: uppercase;
	&.secondary {
		color: $white;
		background-color: $pink;
		&:hover {
			color: $pink;
			background-color: $white;
			&.arrow-but{
				&:before {
					transition: background-image .33s;
					background-image: url("../img/button_arrow_white.png");
				}
			}
		}
		&.arrow-but{
			&:before {
				content: '';
				background-image: url("../img/button_arrow.png");
			}
		}
	}
	&:hover {
		color: $white;
		background-color: $pink;
		&.arrow-but{
			&:before {
				transition: background-image .33s;
				background-image: url("../img/button_arrow.png");
			}
		}
	}
	&.arrow-but{
		&:after {
			content: '';
			width: 20px;
			height: 20px;
			display: inline-block;
			position: relative;
		}
		&:before {
			content: '';
			background-image: url("../img/button_arrow_white.png");
			width: 20px;
			height: 20px;
			position: absolute;
			background-position: center;
			background-size: contain;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


body {
	overflow-x: hidden;
	font-family: $primary;
	color: $gray-d;
	margin: 0;
	font-size: dynamic-sizing(25, 16);
	line-height: dynamic-sizing(35, 26);
	@include media-up(lg) {
		font-size: 25px;
		line-height: 35px;
	}
	@include media-down(sm) {
		font-size: 16px;
		line-height: 26px;
	}
}
p, li {
	margin: 1em 0;
}
h1,h2,h3,h4 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	margin-bottom: 50px;
}
h1 {
	font-size: dynamic-sizing(50, 25);
	line-height: dynamic-sizing(60, 30);
	@include media-up(lg) {
		font-size: 50px;
		line-height: 60px;
	}
	@include media-down(sm) {
		font-size: 25px;
		line-height: 30px;
	}
}
h2 {
	color: $purple;
	font-size: dynamic-sizing(35, 20);
	line-height: dynamic-sizing(42, 24);
	@include media-up(lg) {
		font-size: 35px;
		line-height: 42px;
	}
	@include media-down(sm) {
		font-size: 20px;
		line-height: 24px;
	}
}
h4, a {
	color: $purple;
}

h3 {
	font-size: dynamic-sizing(35, 18);
	line-height: dynamic-sizing(45, 21);
	@include media-up(lg) {
		font-size: 35px;
		line-height: 45px;
	}
	@include media-down(sm) {
		font-size: 18px;
		line-height: 21px;
	}
}
h4 {
	font-size: dynamic-sizing(30, 18);
	line-height: dynamic-sizing(40, 21);
	@include media-up(lg) {
		font-size: 30px;
		line-height: 40px;
	}
	@include media-down(sm) {
		font-size: 18px;
		line-height: 21px;
	}
}
sup {
    line-height: 0;
	font-size: 60%;
	font-weight: normal;
}
.references {
	font-size: dynamic-sizing(20, 16);
	line-height: dynamic-sizing(22, 18);
	li {
		margin-top: .5em;
	}
}