/* BREAKPOINTS */
$small: 480px;
$smalltab: 594px;
$tablet: 768px;
$lgtab: 968px;
$desktop: 1920px;

@mixin media-up($size) {
  @if $size == sm {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $size == mds {
    @media only screen and (min-width: $smalltab) { @content; }
  }
  @else if $size == md {
    @media only screen and (min-width: $tablet) { @content; }
  }
  @else if $size == mdl {
    @media only screen and (min-width: $lgtab) { @content; }
  }
  @else if $size == lg {
    @media only screen and (min-width: $desktop) { @content; }
  }
}
@mixin media-down($size) {
  @if $size == sm {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $size == mds {
    @media only screen and (max-width: $smalltab) { @content; }
  }
  @else if $size == md {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $size == mdl {
    @media only screen and (max-width: $lgtab) { @content; }
  }
  @else if $size == lg {
    @media only screen and (max-width: $desktop) { @content; }
  }
}

@function dynamic-sizing($sizeF, $sizeS) {
	$desktopFont: str-slice(quote($desktop), 0, str-index(quote($desktop), 'px')-1);
	$smallFont: str-slice(quote($small), 0, str-index(quote($small), 'px')-1);
	
	@return unquote("calc(" + $sizeS + "px + (" + $sizeF + " - " + $sizeS + ") * (100vw - " + $small + ") / (" + $desktopFont + " - " + $smallFont + "));");
}
/* @include media-up($size) {styles}*/
/* @include media-down($size) {styles}*/

/* CONTENT WRAPPER */
$full-wrapper: 1637px;
$small-wrapper: 1083px;
.wrapper {
	width: $full-wrapper;
	margin: 0 auto;
	max-width: 95%;
}
.sm-wrapper {
	width: $small-wrapper;
	margin: 0 auto;
	max-width: 95%;
}

/* FONTS */
@import url("https://use.typekit.net/grr7ndy.css");
$primary: gesta, sans-serif;

/* GRADIENTS */
$gradient1: #ED237C;
$gradient2: #2D1263;

@mixin gradient {
	&1 {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#225fac+0,27318b+100 */
		background: $gradient1; /* Old browsers */
		background: -moz-linear-gradient(top,  $gradient1 0%, $gradient2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  $gradient1 0%,$gradient2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  $gradient1 0%,$gradient2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1', endColorstr='$gradient2',GradientType=0 ); /* IE6-9 */
	}
	&1.horizontal {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#313e48+0,0a1a27+100 */
		background: $gradient1; /* Old browsers */
		background: -moz-linear-gradient(left,  $gradient2 0%, $gradient1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  $gradient2 0%,$gradient1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  $gradient2 0%,$gradient1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient2', endColorstr='$gradient1',GradientType=1 ); /* IE6-9 */
	}
	&1.horizontal2 {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#313e48+0,0a1a27+100 */
		background: $gradient1; /* Old browsers */
		background: -moz-linear-gradient(right,  $gradient2 0%, $gradient1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(right,  $gradient2 0%,$gradient1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to left,  $gradient2 0%,$gradient1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient2', endColorstr='$gradient1',GradientType=1 ); /* IE6-9 */
	}
}


/* COLORS */
$white: #FFFFFF;
$pink:#ED237C;
$purple: #8C317A;
$blue: #2E2262;
$black: #343741;
$gray: #E9EBE9;
$gray-lt: #B5B8B8;
$gray-md: #77787B;
$gray-d: #53565A;


@mixin colorSchema {
	&.white {
		color: $white !important;
		* {
			color: inherit;
		}
	}
	&.pink {
		color: $pink !important;
		* {
			color: inherit;
		}
	}
	&.purple {
		color: $purple !important;
		* {
			color: inherit;
		}
	}
	&.blue {
		color: $blue !important;
		* {
			color: inherit;
		}
	}
	&.black {
		color: $black !important;
		* {
			color: inherit;
		}
	}
	&.gray {
		color: $gray !important;
		* {
			color: inherit;
		}
	}
	&.gray-lt {
		color: $gray-lt !important;
		* {
			color: inherit;
		}
	}
	&.gray-md {
		color: $gray-md !important;
		* {
			color: inherit;
		}
	}
	&.gray-d {
		color: $gray-d !important;
		* {
			color: inherit;
		}
	}
}

/* Columns */

@mixin columns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	&.wrap {
		flex-wrap: wrap;
		padding: 1% 1%;
		&-reverse {
			@include media-down(md) {
				flex-wrap: wrap-reverse !important;
			}
		}
	}
	&.shrink {
		@include media-down(sm) {
			flex-direction: column;
		}
		&-md {
			@include media-down(md) {
				flex-direction: column;
			}
		}
	}
	@include columnPlacement;
	&.col-4 {
		> * {
			flex-basis: 23%;
			padding: 0 1%;
		}
		@include columnPlacement;
		&.shrink{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis: 48%;
				}
			}
			@include media-down(sm) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
	}
	&.col-3 {
		> * {
			flex-basis: 31%;
			padding: 0 1%;
		}
		@include columnPlacement;
		&.shrink{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
		&.shrink-md{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  48%;
				}
			}
			@include media-down(sm) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
	}
	&.col-2 {
		> * {
			flex-basis: 48%;
			padding: 0 1%;
		}
		@include columnPlacement;
		&.shrink{
			@include media-down(sm) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
		&.shrink-md{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
	}
	&.offset-l {
		> *:first-child {
			flex-basis: 63%;
		}
		> *:last-child {
			flex-basis: 33%;
		}
		&-quart {
			> *:first-child {
			flex-basis: 73%;
			}
			> *:last-child {
				flex-basis: 23%;
			}
		}
		@include columnPlacement;
		&.shrink-md{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
		&.shrink{
			@include media-down(sm) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
	}
	&.offset-r {
		> *:first-child {
			flex-basis: 33%;
		}
		> *:last-child {
			flex-basis: 63%;
		}
		&-quart {
			> *:first-child {
			flex-basis: 23%;
			}
			> *:last-child {
				flex-basis: 73%;
			}
		}
		@include columnPlacement;
		&.shrink-md{
			@include media-down(md) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
		&.shrink{
			@include media-down(sm) {
				flex-direction: initial;
				flex-wrap: wrap;
				> * {
					flex-basis:  98%;
				}
			}
		}
	}
	> div {
		position: relative;
	}
}
@mixin columnPlacement {
	&.centered-text {
		text-align: center;
		* {
			text-align: center;
		}
	}
	&.center {
		justify-content: center;
		text-align: center;
	}
	&.right {
		justify-content: flex-end;
		text-align: right;
	}
	&.left {
		justify-content: flex-start;
		text-align: left;
	}
	&.justified {
		justify-content: space-between;
		&-center {
			justify-content: space-around;
		}
	}
	&.vert-center {
		> * {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
}