@import "vars";
@import "setup";
body {
    
    
}
header {
    padding: .5em 0;
    position: relative;
    .main-navigation{
        nav {
            margin: 0 0 0 auto;
            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
                li {
                    display: inline-block;
                    text-align: right;
                    &:last-of-type {
                        margin-left: 1em;
                    }
                    @include media-down(md) {
                        display: block;
                    }
                }
            }
        }
        @include media-down(md) {
            display: none !important;
            &.toggled-on {
                display: block !important;
                position: absolute;
                top: 100%;
                //background-image: url('../img/mobile-menu-bg.png');
                background: linear-gradient(to bottom,  rgba(46, 34, 98, .9) 10%, rgba(140, 49, 122, .9) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                background-color: rgba(46, 34, 98, .9);
                background-position: center center;
                background-size: cover;
                z-index: 100;
                width: 100%;
                left: 0;
                padding: 1em;
                box-sizing: border-box;
                li {
                    text-align: center;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .menu-toggle {
        display: none;
        @include media-down(md) {
            transition: box-shadow .75s ease-out;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            z-index: 200;
            cursor: pointer;
            &.toggled-on {

            }
        }
    }
}
section {
    padding: 50px 0;
    position: relative;
    &#monitoring {
        border-radius: 0 0 40px 40px;
        background-image: -moz-linear-gradient(top,  $white 0%, $white 80%, $gray 100%); /* FF3.6-15 */
		background-image: -webkit-linear-gradient(top,  $white 0%, $white 80%, $gray 100%); /* Chrome10-25,Safari5.1-6 */
        background-image: linear-gradient(to bottom,  $white 0%, $white 80%, $gray 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-position: bottom center;
        background-size: 100% 50%;
        .bg-cl {
            background-image: url('../img/site-bg.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100% 50%;
        }
    }
    &#study {
        padding: 5em 0;
        &:after {
            display: block;
            content: ' ';
            width: 100%;
            height: 50px;
            box-shadow: 0 10px 10px $gray-md;
            position: absolute;
            bottom: 0px;
            z-index: 99;
        }
    }
    &#howitworks {
        background: $gray;
    }
    &#contact {
        background-image: url('../img/form-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 0;
    }
}
.hero {
    padding: 5em 0 10em 0;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: 80% 100%;
    position: relative;
    .hero-holder {
        height: 0;
    }
    @include media-down(md) {
        background-image: url('../img/hero-bg-mobile.jpg');
        background-position: top center;
        .hero-holder {
            height: 350px;
        }
    }
    @include media-down(sm) {
        background-image: url('../img/hero-bg-mobile.jpg');
        .hero-holder {
            height: 240px;
        }
    }
    &.faq {
        background-image: url('../img/faq-header.png');
        background-size: cover;
        background-position: center center;
        padding: 7em 0 2em 0;
    }
    h1 {
        width: 150%;
        @include media-down(md) {
            width: 100%;
        }
    }
}
.cards-cont {
    margin: 10em auto auto;
    max-width: 1080px;
    .card {
        div {
            width: 300px;
            margin: auto;
            margin-top: .75em;
            background-image: linear-gradient(140deg,  rgba(255,255,255,.5) 0%,rgba(255,255,255,.5) 50%, $white 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            &> img {
                height: 220px;
                margin: auto;
                display: block;
            }
            a { 
                display: block;
                width: 100%;
                background: $blue;
                color: $white;
                padding: 1em;
                box-sizing: border-box;
                position: relative;
                text-decoration: none;
                span {
                    text-decoration: underline;
                }
                img {
                    height: 25px;
                    display: inline-block;
                    position: absolute;
                    right: 1em;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.circle-cont {
    max-width: 400px;
    h4 {
        margin-bottom: 25px;
    }
}
.counter-cont {
    position: relative;
    margin-bottom: 25px;
}
.counter {
    font-size: dynamic-sizing(90, 70);
	line-height: dynamic-sizing(90, 70);
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    color: $white;
    &::after {
        content: '%';
    }
    @include media-up(lg) {
		font-size: 90px;
		line-height: 90px;
	}
	@include media-down(sm) {
		font-size: 70px;
		line-height: 70px;
	}
}
.callout {
    background-image: url('../img/banner-bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 4em 2em;
    max-width: $small-wrapper;
    margin: 50px auto;
    div {
        min-height: 75px;
    }
    @include media-down(md) {
        border-radius: 15px;
        background-size: 125% 150%;
        background-position: 0 50%;
    }
}
.study-card {
    &:first-of-type {
        margin-top: 0;
        @include media-down(md) {
            margin-top: 0em;
        }
    }
    &:last-of-type {
        @include media-down(md) {
            margin-top: 2em;
        }
    }
    @include media-down(md) {
        margin-top: 2em;
    }
    
    div {
        padding: 2em 3em;
        box-sizing: border-box;
        border-radius: 30px;
        box-shadow: 0 6px 15px $purple;
        height: 100%;
        max-width: 85%;
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
        @include media-down(md) {
            max-width: 100%;
        }
    }
    
}
.slider-cont {
    overflow-x: hidden;
    position: relative;
    .slider-banner {
        position: absolute;
        width: calc(100% - 200px);
        left: 100px;
        opacity: 0;
        transition: opacity 1s;
        &.active {
            opacity: 1;
        }
    }
    .slider {
        padding: 75px 200px 0 200px;
        box-sizing: content-box;
        &#slider2 {
            height: 600px;
            .slide{
                right: 0;
            }
        }
        .slide {
            position: absolute;
            transition: right 1s;
            //left: auto;
            right: 200px;
            .img-cont{
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 75%;
                }
            }
        }
        .backward {
            cursor: pointer;
            position: absolute;
            left: 100px;
            top: 20%;
            img {
                height: 40px;
                &.flipped {
                    transform: rotate(180deg);
                }
            }
        }
        .forward {
            cursor: pointer;
            position: absolute;
            right: 100px;
            top: 20%;
            img {
                height: 40px;
                &.flipped {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

#about {
    .mob-slide {
        img {
            position: absolute;
            margin-left: 12px;
            height: 80%;
            display: block;
        }
        h4 {
            margin-bottom: 1em;
            margin-left: 50px;
        }
        p {
            margin-bottom: 2em;
            margin-left: 50px;
        }
    }
}
.play-but-cont {
    position: relative;
    min-width: 75px;
    display: block;
    a {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #pauseButton {
        display: none;
    }
}
.play-but {
    width: 50px;
    height: 50px;
}
footer {
    background-color: #2D1263;
    img {
        max-width: 175px;
    }
    p, li a {
        font-size: dynamic-sizing(20, 16);
        line-height: dynamic-sizing(22, 18);
    }
    nav {
        margin: 1em 0 0 auto;
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
            li {
                display: inline-block;
                text-align: left;
                margin-right: 1em;
                &:last-of-type {
                    margin-right: 0;
                }
                @include media-down(md) {
                    display: block;
                }
                a {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    .patient-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 12.5%;
        box-sizing: border-box;
        background: rgba(140, 49, 122,.9);
        width: 75%;
        &:before {
            content: '×';
            position: absolute;
            top: 0;
            right: 0;
            font-size: 25px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            cursor: pointer;
        }
        &.hidden {
            display: none;
        }
    }
}
.accordian-block {
    margin-bottom: 50px;
    &:last-of-type {
    	border-bottom: none;
    	margin-bottom: 0;
    }
    .open-icon {
		margin-right: calc(5%);
        min-width: dynamic-sizing(40, 21);
        max-width: dynamic-sizing(40, 21);
        @include media-up(lg) {
            min-width: 40px;
            max-width: 40px;
        }
        @include media-down(sm) {
            min-width: 21px;
            max-width: 40px;
        }
		img {
			cursor: pointer;
		}
    }
    .accordian-content {
    	h4 {
            margin-bottom: 25px;
    		span {
    			cursor: pointer;
    		}
    	}
    	.content {
    		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    		transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
    		max-height: calc( 110% );
    		padding-bottom: 0em;
    		&.hidden {
    			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    			max-height: 0px;
    			transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
    		}
    	}
    	&.opened {
    		.content {
    			padding-bottom: 0.5em;
    		}
    	}
    }
}
.form-wrap {
    width: 500px;
    max-width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.16) 47%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.25) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.16) 47%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.16) 47%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#40ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 2em;
    box-sizing: border-box;
}
form {
    max-width: 100%;
    label {
        color: $white;
    }
    input {
        width: 500px;
        max-width: 98%;
        border: 2px solid $purple;
        border-radius: 4px;
        font-size: calc(16px + (25 - 16) * (100vw - 480px) / (1920 - 480));
        line-height: calc(26px + (35 - 26) * (100vw - 480px) / (1920 - 480));
        color: $black;
        padding: 2px 4px;
        &[type=checkbox] {
            width: auto;
        }
        &[type=submit] {
            width: auto;
            box-shadow: none;
        }
    }
}