@charset "UTF-8";
/* BREAKPOINTS */
/* @include media-up($size) {styles}*/
/* @include media-down($size) {styles}*/
/* CONTENT WRAPPER */
@import url("https://use.typekit.net/grr7ndy.css");
@import url("https://use.typekit.net/grr7ndy.css");
.wrapper {
  width: 1637px;
  margin: 0 auto;
  max-width: 95%; }

.sm-wrapper {
  width: 1083px;
  margin: 0 auto;
  max-width: 95%; }

/* FONTS */
/* GRADIENTS */
/* COLORS */
/* Columns */
/* BREAKPOINTS */
/* @include media-up($size) {styles}*/
/* @include media-down($size) {styles}*/
/* CONTENT WRAPPER */
.wrapper {
  width: 1637px;
  margin: 0 auto;
  max-width: 95%; }

.sm-wrapper {
  width: 1083px;
  margin: 0 auto;
  max-width: 95%; }

/* FONTS */
/* GRADIENTS */
/* COLORS */
/* Columns */
*.white {
  color: #FFFFFF !important; }
  *.white * {
    color: inherit; }

*.pink {
  color: #ED237C !important; }
  *.pink * {
    color: inherit; }

*.purple {
  color: #8C317A !important; }
  *.purple * {
    color: inherit; }

*.blue {
  color: #2E2262 !important; }
  *.blue * {
    color: inherit; }

*.black {
  color: #343741 !important; }
  *.black * {
    color: inherit; }

*.gray {
  color: #E9EBE9 !important; }
  *.gray * {
    color: inherit; }

*.gray-lt {
  color: #B5B8B8 !important; }
  *.gray-lt * {
    color: inherit; }

*.gray-md {
  color: #77787B !important; }
  *.gray-md * {
    color: inherit; }

*.gray-d {
  color: #53565A !important; }
  *.gray-d * {
    color: inherit; }

img {
  max-width: 100%; }

.mobile {
  display: none !important; }
  @media only screen and (max-width: 480px) {
    .mobile {
      display: block !important; } }

.tablet {
  display: none !important; }
  @media only screen and (max-width: 768px) {
    .tablet {
      display: block !important; } }
  @media only screen and (max-width: 480px) {
    .tablet {
      display: none !important; } }
  .tablet-mob {
    display: none !important; }
    @media only screen and (max-width: 768px) {
      .tablet-mob {
        display: block !important; } }
    @media only screen and (max-width: 480px) {
      .tablet-mob {
        display: block !important; } }

.desktop {
  display: block !important; }
  @media only screen and (max-width: 480px) {
    .desktop {
      display: none !important; } }
  .desktop-tab {
    display: block; }
    @media only screen and (max-width: 768px) {
      .desktop-tab {
        display: none !important; } }
    @media only screen and (max-width: 480px) {
      .desktop-tab {
        display: none !important; } }

.gradient1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#225fac+0,27318b+100 */
  background: #ED237C;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ED237C 0%, #2D1263 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ED237C 0%, #2D1263 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ED237C), to(#2D1263));
  background: -o-linear-gradient(top, #ED237C 0%, #2D1263 100%);
  background: linear-gradient(to bottom, #ED237C 0%, #2D1263 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient1', endColorstr='$gradient2',GradientType=0 );
  /* IE6-9 */ }

.gradient1.horizontal {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#313e48+0,0a1a27+100 */
  background: #ED237C;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2D1263 0%, #ED237C 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2D1263 0%, #ED237C 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2D1263), to(#ED237C));
  background: -o-linear-gradient(left, #2D1263 0%, #ED237C 100%);
  background: linear-gradient(to right, #2D1263 0%, #ED237C 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient2', endColorstr='$gradient1',GradientType=1 );
  /* IE6-9 */ }

.gradient1.horizontal2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#313e48+0,0a1a27+100 */
  background: #ED237C;
  /* Old browsers */
  background: -moz-linear-gradient(right, #2D1263 0%, #ED237C 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #2D1263 0%, #ED237C 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#2D1263), to(#ED237C));
  background: -o-linear-gradient(right, #2D1263 0%, #ED237C 100%);
  background: linear-gradient(to left, #2D1263 0%, #ED237C 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient2', endColorstr='$gradient1',GradientType=1 );
  /* IE6-9 */ }

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .columns.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1% 1%; }
    @media only screen and (max-width: 768px) {
      .columns.wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; } }
  @media only screen and (max-width: 480px) {
    .columns.shrink {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media only screen and (max-width: 768px) {
    .columns.shrink-md {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .columns.centered-text {
    text-align: center; }
    .columns.centered-text * {
      text-align: center; }
  .columns.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .columns.col-4 > * {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    padding: 0 1%; }
  .columns.col-4.centered-text {
    text-align: center; }
    .columns.col-4.centered-text * {
      text-align: center; }
  .columns.col-4.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.col-4.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.col-4.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.col-4.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.col-4.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.col-4.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .columns.col-4.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-4.shrink > * {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%; } }
  @media only screen and (max-width: 480px) {
    .columns.col-4.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-4.shrink > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  .columns.col-3 > * {
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    padding: 0 1%; }
  .columns.col-3.centered-text {
    text-align: center; }
    .columns.col-3.centered-text * {
      text-align: center; }
  .columns.col-3.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.col-3.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.col-3.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.col-3.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.col-3.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.col-3.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .columns.col-3.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-3.shrink > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  @media only screen and (max-width: 768px) {
    .columns.col-3.shrink-md {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-3.shrink-md > * {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%; } }
  @media only screen and (max-width: 480px) {
    .columns.col-3.shrink-md {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-3.shrink-md > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  .columns.col-2 > * {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    padding: 0 1%; }
  .columns.col-2.centered-text {
    text-align: center; }
    .columns.col-2.centered-text * {
      text-align: center; }
  .columns.col-2.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.col-2.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.col-2.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.col-2.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.col-2.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.col-2.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media only screen and (max-width: 480px) {
    .columns.col-2.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-2.shrink > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  @media only screen and (max-width: 768px) {
    .columns.col-2.shrink-md {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.col-2.shrink-md > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  .columns.offset-l > *:first-child {
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%; }
  .columns.offset-l > *:last-child {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%; }
  .columns.offset-l-quart > *:first-child {
    -ms-flex-preferred-size: 73%;
    flex-basis: 73%; }
  .columns.offset-l-quart > *:last-child {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%; }
  .columns.offset-l.centered-text {
    text-align: center; }
    .columns.offset-l.centered-text * {
      text-align: center; }
  .columns.offset-l.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.offset-l.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.offset-l.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.offset-l.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.offset-l.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.offset-l.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .columns.offset-l.shrink-md {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.offset-l.shrink-md > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  @media only screen and (max-width: 480px) {
    .columns.offset-l.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.offset-l.shrink > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  .columns.offset-r > *:first-child {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%; }
  .columns.offset-r > *:last-child {
    -ms-flex-preferred-size: 63%;
    flex-basis: 63%; }
  .columns.offset-r-quart > *:first-child {
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%; }
  .columns.offset-r-quart > *:last-child {
    -ms-flex-preferred-size: 73%;
    flex-basis: 73%; }
  .columns.offset-r.centered-text {
    text-align: center; }
    .columns.offset-r.centered-text * {
      text-align: center; }
  .columns.offset-r.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .columns.offset-r.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right; }
  .columns.offset-r.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; }
  .columns.offset-r.justified {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .columns.offset-r.justified-center {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .columns.offset-r.vert-center > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .columns.offset-r.shrink-md {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.offset-r.shrink-md > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  @media only screen and (max-width: 480px) {
    .columns.offset-r.shrink {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .columns.offset-r.shrink > * {
        -ms-flex-preferred-size: 98%;
        flex-basis: 98%; } }
  .columns > div {
    position: relative; }

.center {
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .center-mobile {
      text-align: center; } }

.uppercase {
  text-transform: uppercase; }

.pad-top {
  padding-top: 1em; }
  .pad-top-2 {
    padding-top: 2em; }
  .pad-top-3 {
    padding-top: 3em; }
  .pad-top-4 {
    padding-top: 4em; }

.pad-bot {
  padding-bottom: 1em; }
  .pad-bot-2 {
    padding-bottom: 2em; }
  .pad-bot-3 {
    padding-bottom: 3em; }

.menu-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #8C317A;
  fill: #8C317A;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 1px auto 2px;
  padding: 1em;
  text-shadow: none;
  width: 60px;
  height: 60px;
  box-shadow: none; }
  .menu-toggle.fixed {
    position: fixed;
    -webkit-box-shadow: 0px 2px 5px rgba(79, 117, 139, 0.5);
    box-shadow: 0px 2px 5px rgba(79, 117, 139, 0.5);
    right: 5px; }

/* Display the menu toggle when JavaScript is available. */
.main-navigation.toggled-on ul.nav-menu {
  display: block; }

.menu-toggle:focus {
  outline: thin solid; }

.menu-toggle .icon {
  margin-right: 0;
  top: -2px;
  width: 30px;
  height: 30px; }

.toggled-on.menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none; }

.toggled-on.menu-toggle .icon-close {
  display: inline-block; }

.menu {
  padding: 0;
  list-style: none;
  margin: 0; }

.button {
  cursor: pointer;
  position: relative;
  color: #ED237C;
  background-color: #FFFFFF;
  padding: 9px 25px 7px;
  border-radius: 0 0 25px 0;
  text-decoration: none;
  line-height: calc(16px + (18 - 16) * (100vw - 480px) / (1920 - 480));;
  -webkit-transition: background-color .33s, color .33s;;
  -o-transition: background-color .33s, color .33s;;
  transition: background-color .33s, color .33s;
  -webkit-box-shadow: 0px 2px 5px rgba(79, 117, 139, 0.5);
  box-shadow: 0px 2px 5px rgba(79, 117, 139, 0.5);
  text-transform: uppercase; }
  .button.secondary {
    color: #FFFFFF;
    background-color: #ED237C; }
    .button.secondary:hover {
      color: #ED237C;
      background-color: #FFFFFF; }
      .button.secondary:hover.arrow-but:before {
        -webkit-transition: background-image .33s;
        -o-transition: background-image .33s;
        transition: background-image .33s;
        background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/button_arrow_white.png"); }
    .button.secondary.arrow-but:before {
      content: '';
      background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/button_arrow.png"); }
  .button:hover {
    color: #FFFFFF;
    background-color: #ED237C; }
    .button:hover.arrow-but:before {
      -webkit-transition: background-image .33s;
      -o-transition: background-image .33s;
      transition: background-image .33s;
      background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/button_arrow.png"); }
  .button.arrow-but:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative; }
  .button.arrow-but:before {
    content: '';
    background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/button_arrow_white.png");
    width: 20px;
    height: 20px;
    position: absolute;
    background-position: center;
    background-size: contain;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

body {
  overflow-x: hidden;
  font-family: gesta, sans-serif;
  color: #53565A;
  margin: 0;
  font-size: calc(16px + (25 - 16) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(26px + (35 - 26) * (100vw - 480px) / (1920 - 480));; }
  @media only screen and (min-width: 1920px) {
    body {
      font-size: 25px;
      line-height: 35px; } }
  @media only screen and (max-width: 480px) {
    body {
      font-size: 16px;
      line-height: 26px; } }

p, li {
  margin: 1em 0; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  margin-bottom: 50px; }

h1 {
  font-size: calc(25px + (50 - 25) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(30px + (60 - 30) * (100vw - 480px) / (1920 - 480));; }
  @media only screen and (min-width: 1920px) {
    h1 {
      font-size: 50px;
      line-height: 60px; } }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 25px;
      line-height: 30px; } }

h2 {
  color: #8C317A;
  font-size: calc(20px + (35 - 20) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(24px + (42 - 24) * (100vw - 480px) / (1920 - 480));; }
  @media only screen and (min-width: 1920px) {
    h2 {
      font-size: 35px;
      line-height: 42px; } }
  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 20px;
      line-height: 24px; } }

h4, a {
  color: #8C317A; }

h3 {
  font-size: calc(18px + (35 - 18) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(21px + (45 - 21) * (100vw - 480px) / (1920 - 480));; }
  @media only screen and (min-width: 1920px) {
    h3 {
      font-size: 35px;
      line-height: 45px; } }
  @media only screen and (max-width: 480px) {
    h3 {
      font-size: 18px;
      line-height: 21px; } }

h4 {
  font-size: calc(18px + (30 - 18) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(21px + (40 - 21) * (100vw - 480px) / (1920 - 480));; }
  @media only screen and (min-width: 1920px) {
    h4 {
      font-size: 30px;
      line-height: 40px; } }
  @media only screen and (max-width: 480px) {
    h4 {
      font-size: 18px;
      line-height: 21px; } }

sup {
  line-height: 0;
  font-size: 60%;
  font-weight: normal; }

.references {
  font-size: calc(16px + (20 - 16) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(18px + (22 - 18) * (100vw - 480px) / (1920 - 480));; }
  .references li {
    margin-top: .5em; }

header {
  padding: .5em 0;
  position: relative; }
  header .main-navigation nav {
    margin: 0 0 0 auto; }
    header .main-navigation nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      header .main-navigation nav ul li {
        display: inline-block;
        text-align: right; }
        header .main-navigation nav ul li:last-of-type {
          margin-left: 1em; }
        @media only screen and (max-width: 768px) {
          header .main-navigation nav ul li {
            display: block; } }
  @media only screen and (max-width: 768px) {
    header .main-navigation {
      display: none !important; }
      header .main-navigation.toggled-on {
        display: block !important;
        position: absolute;
        top: 100%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(46, 34, 98, 0.9)), color-stop(50%, rgba(140, 49, 122, 0.9)));
        background: -webkit-linear-gradient(top, rgba(46, 34, 98, 0.9) 10%, rgba(140, 49, 122, 0.9) 50%);
        background: -o-linear-gradient(top, rgba(46, 34, 98, 0.9) 10%, rgba(140, 49, 122, 0.9) 50%);
        background: linear-gradient(to bottom, rgba(46, 34, 98, 0.9) 10%, rgba(140, 49, 122, 0.9) 50%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba(46, 34, 98, 0.9);
        background-position: center center;
        background-size: cover;
        z-index: 100;
        width: 100%;
        left: 0;
        padding: 1em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        header .main-navigation.toggled-on li {
          text-align: center; }
          header .main-navigation.toggled-on li a {
            color: #FFFFFF; } }
  header .menu-toggle {
    display: none; }
    @media only screen and (max-width: 768px) {
      header .menu-toggle {
        -webkit-transition: -webkit-box-shadow .75s ease-out;
        transition: -webkit-box-shadow .75s ease-out;
        -o-transition: box-shadow .75s ease-out;
        transition: box-shadow .75s ease-out;
        transition: box-shadow .75s ease-out, -webkit-box-shadow .75s ease-out;
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 5px;
        z-index: 200;
        cursor: pointer; } }

section {
  padding: 50px 0;
  position: relative; }
  section#monitoring {
    border-radius: 0 0 25px 25px;
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 80%, #E9EBE9 100%);
    /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 80%, #E9EBE9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(80%, #FFFFFF), to(#E9EBE9));
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 80%, #E9EBE9 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 80%, #E9EBE9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-position: bottom center;
    background-size: 100% 50%; }
    section#monitoring .bg-cl {
      background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/site-bg.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 100% 50%; }
  section#study:after {
    display: block;
    content: ' ';
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 0 10px 10px #77787B;
    box-shadow: 0 10px 10px #77787B;
    position: absolute;
    bottom: 0px;
    z-index: 99; }
  section#howitworks {
    background: #E9EBE9; }
  section#contact {
    background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/form-bg.png");
    background-size: cover;
    background-repeat: no-repeat; }

.hero {
  padding: 5em 0 10em 0;
  background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/hero-bg.jpg");
  background-size: cover;
  background-position: 80% 100%;
  position: relative; }
  .hero .hero-holder {
    height: 0; }
  @media only screen and (max-width: 768px) {
    .hero {
      background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/hero-bg-mobile.jpg");
      background-position: top center; }
      .hero .hero-holder {
        height: 350px; } }
  @media only screen and (max-width: 480px) {
    .hero {
      background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/hero-bg-mobile.jpg"); }
      .hero .hero-holder {
        height: 240px; } }
  .hero.faq {
    background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/faq-header.png");
    background-size: cover;
    background-position: center center;
    padding: 7em 0 2em 0; }
  .hero h1 {
    width: 150%; }
    @media only screen and (max-width: 768px) {
      .hero h1 {
        width: 100%; } }

.cards-cont {
  margin-top: 10em; }
  .cards-cont .card div {
    width: 300px;
    margin: auto;
    margin-top: .75em;
    background-image: -webkit-linear-gradient(310deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, #FFFFFF 100%);
    background-image: -o-linear-gradient(310deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, #FFFFFF 100%);
    background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, #FFFFFF 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .cards-cont .card div > img {
      height: 220px;
      margin: auto;
      display: block; }
    .cards-cont .card div a {
      display: block;
      width: 100%;
      background: #2E2262;
      color: #FFFFFF;
      padding: 1em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      text-decoration: none; }
      .cards-cont .card div a span {
        text-decoration: underline; }
      .cards-cont .card div a img {
        height: 25px;
        display: inline-block;
        position: absolute;
        right: 1em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

.circle-cont {
  max-width: 400px; }
  .circle-cont h4 {
    margin-bottom: 25px; }

.counter-cont {
  position: relative;
  margin-bottom: 25px; }

.counter {
  font-size: calc(70px + (90 - 70) * (100vw - 480px) / (1920 - 480));;
  line-height: calc(70px + (90 - 70) * (100vw - 480px) / (1920 - 480));;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  color: #FFFFFF; }
  .counter::after {
    content: '%'; }
  @media only screen and (min-width: 1920px) {
    .counter {
      font-size: 90px;
      line-height: 90px; } }
  @media only screen and (max-width: 480px) {
    .counter {
      font-size: 70px;
      line-height: 70px; } }

.callout {
  background-image: url("/-/media/Project/Acelity/Acelity-Base-Sites/Acelity-Sites/iOnProgress/img/banner-bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4em 2em;
  max-width: 1083px;
  margin: 50px auto; }
  .callout div {
    min-height: 75px; }
  @media only screen and (max-width: 768px) {
    .callout {
      border-radius: 15px;
      background-size: 125% 150%;
      background-position: 0 50%; } }

.study-card:first-of-type {
  margin-top: 0; }
  @media only screen and (max-width: 768px) {
    .study-card:first-of-type {
      margin-top: 0em; } }

@media only screen and (max-width: 768px) {
  .study-card:last-of-type {
    margin-top: 2em; } }

@media only screen and (max-width: 768px) {
  .study-card {
    margin-top: 2em; } }

.study-card div {
  padding: 2em 3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 6px #8C317A;
  box-shadow: 0 2px 6px #8C317A;
  height: 100%;
  max-width: 85%; }
  .study-card div:first-of-type {
    margin-left: 0; }
  .study-card div:last-of-type {
    margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .study-card div {
      max-width: 100%; } }

.slider-cont {
  overflow-x: hidden;
  position: relative; }
  .slider-cont .slider-banner {
    position: absolute;
    width: calc(100% - 200px);
    left: 100px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
    .slider-cont .slider-banner.active {
      opacity: 1; }
  .slider-cont .slider {
    padding: 75px 200px 0 200px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    .slider-cont .slider#slider2 {
      height: 600px; }
    .slider-cont .slider .slide {
      position: absolute;
      -webkit-transition: right 1s;
      -o-transition: right 1s;
      transition: right 1s;
      right: 200px; }
      .slider-cont .slider .slide .img-cont {
        position: relative;
        width: 100%;
        height: 100%; }
        .slider-cont .slider .slide .img-cont img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 90%; }
    .slider-cont .slider .backward {
      cursor: pointer;
      position: absolute;
      left: 100px;
      top: 20%; }
      .slider-cont .slider .backward img {
        height: 40px; }
        .slider-cont .slider .backward img.flipped {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .slider-cont .slider .forward {
      cursor: pointer;
      position: absolute;
      right: 100px;
      top: 20%; }
      .slider-cont .slider .forward img {
        height: 40px; }
        .slider-cont .slider .forward img.flipped {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

#about .mob-slide img {
  position: absolute;
  margin-left: 12px;
  height: 80%;
  display: block; }

#about .mob-slide h4 {
  margin-bottom: 1em;
  margin-left: 50px; }

#about .mob-slide p {
  margin-bottom: 2em;
  margin-left: 50px; }

.play-but-cont {
  position: relative;
  min-width: 75px;
  display: block; }
  .play-but-cont a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
  .play-but-cont #pauseButton {
    display: none; }

.play-but {
  width: 50px;
  height: 50px; }

footer {
  background-color: #2D1263; }
  footer img {
    max-width: 175px; }
  footer p, footer li a {
    font-size: calc(16px + (20 - 16) * (100vw - 480px) / (1920 - 480));;
    line-height: calc(18px + (22 - 18) * (100vw - 480px) / (1920 - 480));; }
  footer nav {
    margin: 1em 0 0 auto; }
    footer nav ul {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      footer nav ul li {
        display: inline-block;
        text-align: left;
        margin-right: 1em; }
        footer nav ul li:last-of-type {
          margin-right: 0; }
        @media only screen and (max-width: 768px) {
          footer nav ul li {
            display: block; } }
        footer nav ul li a {
          text-decoration: underline;
          cursor: pointer; }
  footer .patient-message {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 12.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(140, 49, 122, 0.9);
    width: 75%; }
    footer .patient-message:before {
      content: '×';
      position: absolute;
      top: 0;
      right: 0;
      font-size: 25px;
      line-height: 40px;
      width: 40px;
      text-align: center;
      cursor: pointer; }
    footer .patient-message.hidden {
      display: none; }

.accordian-block {
  margin-bottom: 50px; }
  .accordian-block:last-of-type {
    border-bottom: none;
    margin-bottom: 0; }
  .accordian-block .open-icon {
    margin-right: calc(5%);
    min-width: calc(21px + (40 - 21) * (100vw - 480px) / (1920 - 480));;
    max-width: calc(21px + (40 - 21) * (100vw - 480px) / (1920 - 480));; }
    @media only screen and (min-width: 1920px) {
      .accordian-block .open-icon {
        min-width: 40px;
        max-width: 40px; } }
    @media only screen and (max-width: 480px) {
      .accordian-block .open-icon {
        min-width: 21px;
        max-width: 40px; } }
    .accordian-block .open-icon img {
      cursor: pointer; }
  .accordian-block .accordian-content h4 {
    margin-bottom: 25px; }
    .accordian-block .accordian-content h4 span {
      cursor: pointer; }
  .accordian-block .accordian-content .content {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear;
    transition: max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear;
    -o-transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
    transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
    transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear;
    max-height: calc( 110%);
    padding-bottom: 0em; }
    .accordian-block .accordian-content .content.hidden {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      max-height: 0px;
      -webkit-transition: max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear;
      transition: max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear;
      -o-transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
      transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear;
      transition: clip-path .35s linear, max-height .35s linear, padding-bottom .35s linear, -webkit-clip-path .35s linear; }
  .accordian-block .accordian-content.opened .content {
    padding-bottom: 0.5em; }

.form-wrap {
  width: 500px;
  max-width: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.25) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.25) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.25) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.25) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#40ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  max-width: 100%; }
  form label {
    color: #FFFFFF; }
  form input {
    width: 500px;
    max-width: 98%;
    border: 2px solid #8C317A;
    border-radius: 4px;
    font-size: calc(16px + (25 - 16) * (100vw - 480px) / (1920 - 480));
    line-height: calc(26px + (35 - 26) * (100vw - 480px) / (1920 - 480));
    color: #343741;
    padding: 2px 4px; }
    form input[type=checkbox] {
      width: auto; }
    form input[type=submit] {
      width: auto;
      -webkit-box-shadow: none;
      box-shadow: none; }
